@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: normal;
    src: local('Monaco'), url('../font/Monaco.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');