<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Visualize Javascript</title>
    <meta name="description" content="Learn Javascript by visualizing what you code!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#efd81d">

    <link rel="manifest" href="../site.webmanifest">
    <link rel="apple-touch-icon" href="../icon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <section class="editor-section">
        <header></header>
        <main id="monaco-editor-container"></main>
        <footer>
            <div id="run-button" class="button">Run</div>
            <div class="nav-button-container">
                <div id="prev-button" class="button">Prev</div>
                <div id="next-button" class="button">Next</div>
            </div>
        </footer>
    </section>
    <section class="description-section">
        <h1>Chapter 4. Functions</h1>
    </section>
    <iframe id="output" title="output" src="templates/function-output.html">
</body>

</html>


