<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Visualize Javascript</title>
    <meta name="description" content="Learn Javascript by visualizing what you code!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#efd81d">

    <link rel="manifest" href="../site.webmanifest">
    <link rel="apple-touch-icon" href="../icon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <section class="editor-section">
        <header></header>
        <main id="monaco-editor-container"></main>
        <footer>
            <div id="run-button" class="button">Run</div>
            <div class="nav-button-container">
                <div id="prev-button" class="button">Prev</div>
                <div id="next-button" class="button">Next</div>
            </div>
        </footer>
    </section>
    <section class="description-section">
        <h1>Chapter 1. console.log</h1>
        <p>Computer language is how we communicate with computer. Editor is where we speak to computer and Console is where computer speak to us and it displays important messages, like errors, for developers.</p>
        <p>Console.log is a method that print or log what we put in parentheses. Press Run and see how the computer says 'Hello World!'. Play around and change 'Hello World!' to whatever you want!</p>
    </section>

    <iframe id="output" title="output" src="templates/console-log.html">
</body>

</html>
